#Ejercicio 47

In [ ]:
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:20,.5f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
id='1onzu1sUgeY5EwmVQnjn5nmCn6YPf6S8v'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('pagelinks_sample.csv')

In [ ]:
pagelinks_sample = pd.read_csv('pagelinks_sample.csv', usecols=['pl_from','pl_title'])
pagelinks_sample.head()

   pl_from                     pl_title
0  4840492  Bandera_cÃ³digo_del_COI_TPE
1   950948               Esteban_DuÅ¡an
2  6418187                      Insecta
3  3436623             Pleasure_to_Kill
4  4713066               DamiÃ¡n_Oliver

In [ ]:
grouped = pagelinks_sample.groupby('pl_from').count()
grouped.head()

         pl_title
pl_from
5            2089
7             463
10           1681
15             98
17             26

In [ ]:
id='1oS2m872fr6796N_DgVyQ1hUvGBqJb2nR'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('contents.csv')

In [ ]:
contents = pd.read_csv('contents.csv', usecols=['title', 'id', 'revisor_username'])
contents.head()

                             title  id revisor_username
0  Wikipedia:Artículos solicitados   5        Metrónomo
1                          Andorra   7              NaN
2                        Argentina  10        Traitrich
3             Geografía de Andorra  15            Lojwe
4            Demografía de Andorra  17           Jialxv

In [ ]:
cantidad = contents.merge(grouped,how='left', left_on='id', right_on='pl_from')
cantidad = cantidad.rename(columns = {'pl_title':'cantidad_de_links'}).fillna(0)
cantidad

                                                     title  ...    cantidad_de_links
0                          Wikipedia:Artículos solicitados  ...          2,089.00000
1                                                  Andorra  ...            463.00000
2                                                Argentina  ...          1,681.00000
3                                     Geografía de Andorra  ...             98.00000
4                                    Demografía de Andorra  ...             26.00000
...                                                    ...  ...                  ...
4132159                                    Cruz nestoriana  ...              9.00000
4132160  Manifestación del orgullo gay de 1977 en Barce...  ...              1.00000
4132161                                         Rocasaurus  ...              0.00000
4132162  Medalla Conmemorativa del 50.º Aniversario de ...  ...              6.00000
4132163                                           Fatikroy  ...             17.00000

[4132164 rows x 4 columns]

In [ ]:
resultado = cantidad.cantidad_de_links.median()
resultado

1.0