#Ejercicio 22

In [ ]:
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:20,.5f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
id='1k3iTFERn35WYA9zWpPMvzdnSjCdsyWaF'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('geotags.csv')

In [ ]:
geotags = pd.read_csv('geotags.csv').fillna('Na')
geotags.head()

     gt_id  gt_page_id gt_globe  ...  gt_name  gt_country  gt_region
0   158041     4328020    earth  ...       Na          Na         Na
1  5844377     4670424    earth  ...       Na          Na         Na
2  5844381     4670424    earth  ...       Na          Na         Na
3  5844383     4670424    earth  ...       Na          Na         Na
4  5844388     4670424    earth  ...       Na          Na         Na

[5 rows x 11 columns]

In [ ]:
geotags.dtypes

gt_id           int64
gt_page_id      int64
gt_globe       object
gt_primary      int64
gt_lat        float64
gt_lon        float64
gt_dim          int64
gt_type        object
gt_name        object
gt_country     object
gt_region      object
dtype: object

Mi lugar favorito es Mar del Plata

Latitud: -38.0033 Longitud: -57.5528

In [ ]:
geotags['distancia'] = ((geotags['gt_lat'] - (-38.0033))**2 + (geotags['gt_lon'] - (-57.5528))**2)**(1/2)
geotags.head()

     gt_id  gt_page_id gt_globe  ...  gt_country  gt_region            distancia
0   158041     4328020    earth  ...          Na         Na             94.86047
1  5844377     4670424    earth  ...          Na         Na             60.70040
2  5844381     4670424    earth  ...          Na         Na             60.62582
3  5844383     4670424    earth  ...          Na         Na             60.65442
4  5844388     4670424    earth  ...          Na         Na             59.27133

[5 rows x 12 columns]

In [ ]:
mascercano = geotags.nsmallest(1, 'distancia')
mascercano

           gt_id  gt_page_id gt_globe  ...  gt_country  gt_region            distancia
76079  135730761      384677    earth  ...          Na         Na              0.00004

[1 rows x 12 columns]

In [ ]:
id='1oS2m872fr6796N_DgVyQ1hUvGBqJb2nR'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('contents.csv')

In [ ]:
contents = pd.read_csv('contents.csv')
contents.head()

                             title  ...                                    revisor_comment
0  Wikipedia:Artículos solicitados  ...                                     Así esta mejor
1                          Andorra  ...                                   Añadir contenido
2                        Argentina  ...  Reemplazos con [[Usuario:Benjavalero/Replacer|...
3             Geografía de Andorra  ...  Reemplazos con [[Usuario:Benjavalero/Replacer|...
4            Demografía de Andorra  ...  Correcciones ortográficas con [[Usuario:Benjav...

[5 rows x 10 columns]

In [ ]:
resultado = mascercano.merge(contents, how='inner', left_on = 'gt_page_id', right_on='id').title
resultado

0    Partido de General Pueyrredón
Name: title, dtype: object