#Ejercicio 23

In [ ]:
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:20,.5f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
id='1l5xbJPYbcoAxpSKPxVdkQU9on6Pv2X6k'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('texts.csv')

In [ ]:
texts = pd.read_csv('texts.csv')
texts

              id  ...                                               text
0             50  ...  {{Ficha de taxón\n| name = Anacardiáceas\n| im...
1             62  ...  [[Archivo:Materia antimateria.png|thumb|200px|...
2             78  ...  '''Año bisiesto''' es una expresión que deriva...
3            127  ...  {{otros usos|Avena sativa|la avena común}}\n{{...
4            160  ...  {{distinguir|analfabeto|alfabetización}} \n[[A...
...          ...  ...                                                ...
206602  10010394  ...            #REDIRECCIÓN [[Nicoleta-Ancuța Bodnar]]
206603  10010425  ...  {{Ficha de deportista\n|nombre              = ...
206604  10010518  ...  {{Ficha de entidad subnacional\n|nombre comple...
206605  10010570  ...   #REDIRECCIÓN [[Utilización de recursos in situ]]
206606  10010580  ...         #REDIRECCIÓN [[IA -Aria on the Planetes-]]

[206607 rows x 3 columns]

In [ ]:
texts = texts.dropna()

In [ ]:
esta_incluido = texts[texts.apply(lambda x: x.title in x.text, axis = 1)]
esta_incluido

              id  ...                                               text
0             50  ...  {{Ficha de taxón\n| name = Anacardiáceas\n| im...
2             78  ...  '''Año bisiesto''' es una expresión que deriva...
3            127  ...  {{otros usos|Avena sativa|la avena común}}\n{{...
4            160  ...  {{distinguir|analfabeto|alfabetización}} \n[[A...
5            179  ...  {{Ficha de taxón\n| name = ''Arundoclaytonia''...
...          ...  ...                                                ...
206596  10010093  ...  {{Ficha de aerolínea|aerolínea=Virgin Sun Airl...
206597  10010260  ...  {{ficha de persona}}\n'''Pauline Margrete Hall...
206600  10010357  ...  {{Desambiguación}}\n\n'''1/6''' o '''{{Fracció...
206601  10010373  ...  {{Ficha de persona\n| nombre = Mariano Garreta...
206603  10010425  ...  {{Ficha de deportista\n|nombre              = ...

[69412 rows x 3 columns]

In [ ]:
resultado = len(esta_incluido)/len(texts)*100
resultado

33.5972894482091